<header>
  <div id="header" class="logo-wrapper">
    <div class="left-logo-column">
        <a href="/">
        <img src="/assets/images_csec/03_msec_basic.png" class="sefcom-logo" />
      </a>
    </div>
    <div class="right-logo">
      <div class="logo-top">
        <a href="https://sw.ssu.ac.kr">
          <img src="/assets/images_csec/school_top.png" />
        </a>
      </div>
      <div class="logo-bottom">
        <a href="https://sefcom.asu.edu/">
          <img src="/assets/images_csec/asu_logo.png" />
        </a>
      </div>
    </div>
  </div>

  {% include navigation.html %}
</header>